@import "tailwindcss";
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply tracking-[0em];
    /* ĐÃ SỬA: Dùng font Varela Round */
    font-family: "Varela Round", sans-serif !important;
    text-transform: uppercase;
    letter-spacing: 0em;

    /* Mobile mặc định */
    font-size: 1.5rem;
    line-height: 2rem;

    /* Tailwind responsive */
    @apply md:text-2xl md:leading-snug; /* chữ lớn hơn trên màn hình >= md */
  }
}
li{
  font-family: 'Merriweather', serif;
}
pre{
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
}
p {
    font-family: 'Merriweather', serif;
  }



/* Ẩn khung viền khi xuất ảnh */
#print-area,
#print-area * {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

/* Giữ border nhẹ cho bảng sản phẩm */
#print-area table,
#print-area th,
#print-area td {
  border: 1px solid #000 !important;
}

/* Nền trắng trơn, không bo góc */
#print-area {
  border-radius: 0 !important;
  background: #fff !important;
}